<h1 class="page-header">
  <%= @article.title.upcase %>
  <%= link_to root_path, class: "btn-link" do %>
    <button class="btn btn-xs pull-right">Back To Resources</button>
  <% end %>
</h1>

<% if is_owner_of_article(@article) %>
	<%= link_to edit_article_path(@article) do %>
    <button id="edit-article-button" type="button" class="btn btn-success btn-md pull-right"> 
      Edit this Resource
    </button>
  <% end %>
<% end %>

<p class="lead">
  <%= @article.short_description %>
</p>

<% if has_body(@article) %>
  <p>
    <%= @article.body %>
  </p> 
<% end %>

<% if has_tags(@article) %>
  <% @article.tag_list.each do |tag| %>
    <button id="search-query" class="btn btn-warning btn-xs article-tag-search"><span><%= tag %></span></button>
  <% end %>
<% end %>
<hr>
<%= render partial: "comment_form" %>
<hr>
<div class="comment-session">
  <% comment_by_votes(@article).each do |comment| %>
  <div class="comment">
    <input type="hidden" name="comment_id" value="<%=comment.id%>">
  <% if is_commenter?(comment) %>
    <button class="comment-delete-button btn btn-default btn-xs" type="submit">delete comment</button>
  <% end %>  
    <% if is_voteable?(comment) %>
      <div class="vote-message"><p> </p></div>
      <button class="comment-nice-button btn btn-default btn-xs pull-right" type="submit">niiiiiice</button>
      <% end %>
      <h3 class="comment-vote-count pull-right badge"><%= comment.votes.count %></h3>
    <p><%= comment.body %></p>
    
     <div class="comment-details panel-body">
      <small>posted by: <%= comment.commenter.email %> 
       | created on: <%= date(comment) %></small>
  </div>

  </div>
  
  <% end %>
</div>
