<h1 class="page-header">
  Recent Resources
  <% if user_signed_in? %>
    <button type="button" class="btn btn-success btn-md pull-right"><%= link_to 'Add New Resource', new_article_path %></button>
  <% end %>
</h1>

<% @articles.each do |article| %>

  <div class="panel panel-default">
    
    <div class="panel-heading">
      <% if has_url(article) %>
        <%= link_to article.url do %>
        <h4 class="article-title"><%= article.title %></h4>
        <% end %>
      <% else %>
        <%= link_to article_comments_path(article) do %>
        <h4 class="article-title"><%= article.title %></h4>
        <% end %>
      <% end %>  
      <% if user_signed_in? %>
      <button class="article-nice-button btn btn-default btn-xs pull-right" type="submit">niiiiiice</button>
      <% end %>
      <h3 class="article-vote-count pull-right badge"><%= article.votes.count %></h3>
    </div>
    
    <div class="panel-body">
      <%= article.short_description %>
    </div>
    
    <div class="article-details panel-body">
      <small>posted by: <%= article.poster.email %> | <%= link_to article_comments_path(article) do %> <%= pluralize(article.comments.count, 'comment') %><%end %>
       | created on: <%= date(article) %></small>
    </div>

  </div>
<% end %>
