<h1 class="page-header">
  Recent Resources
  <% if user_signed_in? %>
    <button type="button" class="btn btn-success btn-md pull-right"><%= link_to 'Add New Resource', new_article_path %></button>
  <% end %>
</h1>

<% @articles.each do |article| %>

  <div class="panel panel-default">
    
    <div class="panel-heading">
      <h4 class="article-title"><%= article.title %></h4>
      <button class="article-nice-button btn btn-default btn-xs pull-right" type="submit">niiiiiice</button>
      <h3 class="article-vote-count pull-right badge"><%= article.votes.count %></h3>
    </div>
    
    <div class="panel-body">
      <%= article.short_description %>
    </div>
    
    <div class="article-details panel-body">
      <small>posted by: <%= article.poster.email %> | #of comments | date</small>
    </div>

  </div>
<% end %>
