<h1 class="page-header">
  Recent Resources
  <% if user_signed_in? %>
    <%= link_to new_article_path do %><button type="button" class="btn btn-success btn-md pull-right">Add New Resource</button> <% end %>
  <% end %>
</h1>


  <% @articles.each_with_index do |article, index| %>
    <div class="col-md-12">      

      <div class="panel panel-default">
        
        <div class="panel-heading clearfix">
            <%= link_to article_link(article) do %>
              <h4 class="article-title"><%= article.title %></h4>
            <% end %>  
          <div class="vote-details pull-right">
          
          <% if user_signed_in? %>
            <button id="<%= article.id %>" class="article-nice-button btn btn-default btn-xs" type="submit">niiiiiice</button>
          <% end %>

          <span class="article-vote-count pull-right badge"><%= article.votes.count %></span>
        </div>

       </div> 
        <div class="panel-body">
          <%= article.short_description %>
        </div>
        
        <div class="article-details panel-body">
          <small>posted by: <%= article.poster.email %> | <%= link_to article_comments_path(article) do %> <%= pluralize(article.comments.count, 'comment') %><%end %>
           | created on: <%= date(article) %></small>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-12 col-md-offset-2">
  <div class="digg_pagination">
    <%= will_paginate @articles, container: false %>
  </div>
  </div>
