<h1>Add a New Resource</h1>

<%= form_for(@article) do |f| %>
	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title, :autofocus => true %>
	</div>
	<div> 
		<%= f.label :url, "Resource URL" %><br>
		<%= f.url_field :url, :autofocus => true %>
	</div>
	<div>
		<%= f.label :short_description, "Short Description" %><br>
		<%= f.text_field :short_description, :autofocus => true %>
	</div>

	<div>	<label class="checkbox-inline" for="phase_tag[]">
      <input id="inlineCheckbox1" name="phase_tag[]" type="checkbox" value="phase0" />Phase 0
    </label>

		<label class="checkbox-inline" for="phase_tag[]">
		  <input id="inlineCheckbox2"name="phase_tag[]" type="checkbox" value="phase1" />Phase 1
    </label>

		<label class="checkbox-inline" for="phase_tag[]">
		  <input name="phase_tag[]" id="inlineCheckbox3" type="checkbox" value="phase2" />Phase 2</label>
		
		<label class="checkbox-inline" for="phase_tag[]">
      <input name="phase_tag[]" type="checkbox" id="inlineCheckbox4" value="phase3" />Phase 3</label>
		
		<label class="checkbox-inline" for="phase_tag[]">
      <input name="phase_tag[]" id="inlineCheckbox5" type="checkbox" value="alumni" />Alumni</label>
  </div>
  <br>

	<div> 
		<%= f.label :body, "Post" %><br>
		<%= f.text_field :body, :class => "big-input-box", :autofocus => true %>
	</div>
	<div> 
		<%= f.label :tag_list, "Tags" %><br>
		<%= f.text_area :tag_list, :autofocus => true %>
	</div>
	<%= f.submit %>
<% end %>
