<h1>Add a New Resource</h1>

<%= form_for(@article) do |f| %>
	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title, :autofocus => true %>
	</div>
	<div> 
		<%= f.label :url, "Resource URL" %><br>
		<%= f.url_field :url, :autofocus => true %>
	</div>
	<div>
		<%= f.label :short_description, "Short Description" %><br>
		<%= f.text_field :short_description, :autofocus => true %>
	</div>

	<div>	
		
		<%= check_box_tag 'phase_tag[]', 'phase0', check_for_phase_tag(@article, 'phase0'), class: 'checkbox-inline', id: 'check_box_phase_0'  %> 
		<%= label_tag 'phase_tag[]', 'Phase 0' %>

		<%= check_box_tag 'phase_tag[]', 'phase1', check_for_phase_tag(@article, 'phase1'), class: 'checkbox-inline', id: 'check_box_phase_1' %> 
		<%= label_tag 'phase_tag[]', 'Phase 1' %>

		<%= check_box_tag 'phase_tag[]', 'phase2', check_for_phase_tag(@article, 'phase2'), class: 'checkbox-inline', id: 'check_box_phase_2' %> 
		<%= label_tag 'phase_tag[]', 'Phase 2' %>

		<%= check_box_tag 'phase_tag[]', 'phase3', check_for_phase_tag(@article, 'phase3'), class: 'checkbox-inline', id: 'check_box_phase_3' %> 
		<%= label_tag 'phase_tag[]', 'Phase 3' %>

		<%= check_box_tag 'phase_tag[]', 'alumni', check_for_phase_tag(@article, 'alumni'), class: 'checkbox-inline', id: 'check_box_alumni' %> 
		<%= label_tag 'phase_tag[]', 'Alumni' %>

	</div> 

	<div class="new-article"> 
		<%= f.label :body, "Post" %><br>
		<%= f.text_area :body, :class => "big-input-box", :autofocus => true %>
	</div>
	<div class="new-article tags"> 
		<%= f.label :tag_list, "Tags" %><br>
		<%= f.text_field :tag_list, :autofocus => true %>
	</div>
	<%= f.submit %>
<% end %>
