<!DOCTYPE html>
<html>
<head>
  <title>DoboSource</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'DoboSource', root_path, :class => 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li>
            <%= link_to edit_user_registration_path do %>
              <%= current_user.email %>
            <% end %>
          </li>
          <li>
            <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Log In', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
          <% end %>
        </ul>
        <form class="navbar-form navbar-right" id="search-bar">
          <input type="text" id="search-query" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
    <div ng-view class="col-sm-9 col-sm-offset-0 col-md-10 col-md-offset-0 main">
        <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% elsif notice %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
        <%= yield %>
      </div>

      <div class="col-sm-3 col-md-2 sidebar">
        <h4>Click to expand</h4>

        <ul class="nav nav-sidebar">
          <li class="active" data-toggle="collapse" data-target="#phase-0">
            <a>phase 0</a>
          </li>
          <div id="phase-0" class="collapse">
            <li><a href="#">reports</a></li>
          </div>
        </ul>

        <ul class="nav nav-sidebar">
          <li class="active" data-toggle="collapse" data-target="#phase-1">
            <a>phase 1</a>
          </li>
          <div id="phase-1" class="collapse">
              <% @tags.each do |tag| %>
               <li>
                <%= link_to search_path(tag) do %>
                  <button type="button" class="btn btn-primary btn-xs">
                  <%= tag.name %>
                    <span class="article-vote-count badge"><%= tag.count %></span>
                </button>
                  <% end %>
                </li>
               <% end %>
          </div>
        </ul>

        <ul class="nav nav-sidebar">
          <li class="active" data-toggle="collapse" data-target="#phase-2">
            <a>phase 2</a>
          </li>
          <div id="phase-2" class="collapse">
            <li><a href="#">reports</a></li>
          </div>
        </ul>

        <ul class="nav nav-sidebar">
          <li class="active" data-toggle="collapse" data-target="#phase-3">
            <a>phase 3</a>
          </li>
          <div id="phase-3" class="collapse">
            <li><a href="#">reports</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
